extends layout

block content
  .title
   
    h1 Buy and Sell your old laptops
    <img src="https://www.laptopswala.com/wp-content/uploads/2020/07/sell-old-laptop-online.jpg" alt="man with a laptop" style="width:400px;height:500px;">
    button
      a(href='/laptopsale') Sell them now!! 
      br
    button
      a(href='/') Buy a Laptop!