extends Layout

block content
 h1 sell your product

        form(method='POST', action='/sell')
        #form-group
          label Brand:
          input.form-control(name='name', type='text')
        #form-group
          label Description:
          input.form-control(name='ldescription', type='text')
        #form-group
          label Year:
          input.form-control(name='text',type='date')
         
        br
        input.btn.btn-primary(type='submit',value='Sell')

        //sell form for product